<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>CodeNicely</title>
        {% load staticfiles %}
        <link href="{% static 'material/css/materialize.css' %}" type="text/css" rel="stylesheet"/>
        <link href="{% static 'material/css/style.css' %}" type="text/css" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>

    <body>
                <nav class="white" role="navigation">
                        <div class="nav-wrapper container">
                            <a id="logo-container" class="brand-logo">CodeNicely</a>
                            <ul class="right hide-on-med-and-down">
                                <li class="active"><a>Home</a></li>
                                <li><a href="/account">Profile</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                            <ul id="nav-mobile" class="sidenav">
                                <li class="active"><a>Home</a></li>
                                <li><a href="/account">Profile</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons icon-gray">menu</i></a>
                        </div>
                </nav>
        <div class="slider">
            <ul class="slides">
                <li>
                    <img src="{% static 'material/images/Call-of-Duty-Advanced-Warfare-wallpaper-6.jpg' %}">
                    <div class="caption center-align">
                        <h3 style="color: ">CodeNicely</h3>
                        <h5 class="light grey-text text-lighten-3">We Build and help startups build Digital Products.</h5>
                    </div>
                </li>
                <li>
                    <img src="https://static.wixstatic.com/media/31df3bd26e6a48aba9dff089e64abd3b.jpg/v1/fill/w_460,h_400,al_c,q_80,usm_0.66_1.00_0.01/31df3bd26e6a48aba9dff089e64abd3b.webp"> <!-- random image -->
                    <div class="caption left-align">
                        <h3>Left Aligned Caption</h3>
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>
            </ul>
        </div>

        <footer class="page-footer dark  grey darken-3">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">CodeNicely</h5>
                        <p class="grey-text text-lighten-4">We see AI as new frontire in our mission to empower the Startups!</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Social Links</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/CodeNicely/" target="_blank"><i class="material-icons">face</i>Facebook</a></li>
                            <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/company-beta/13260912/" target="_blank"><i class="material-icons">face</i>LinkedIn</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2018 Codenicely
                </div>
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script>
            $(document).ready(function(){
                $('.slider').slider();
                $('.tooltipped').tooltip();
            });
            setTimeout(function() {
                  M.toast({html: 'Welcome to CodeNicely!', classes: 'rounded'});
                }, 2000);
        </script>
        <script src="{% static 'material/js/materialize.js' %}"></script>
        <script src="{% static 'material/js/init.js' %}"></script>
    </body>

</html>